[submodule "Drivers/nrf24l01_sm"]
	path = Drivers/nrf24l01_sm
	url = https://github.com/bazhen-paseka/nrf24l01_sm.git
[submodule "Drivers/temp_ds18b20_sm"]
	path = Drivers/temp_ds18b20_sm
	url = https://github.com/bazhen-paseka/temp_ds18b20_sm.git
